body {
  background-color: rgb(255, 255, 255);
}

.widthContainer {
  margin: 20px 10%;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #e1eef1;
}

button {
  background-color: #487dc2;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 30px;
  width: 250px;
}

.stylemainbtn {
  background-color: #c97961;
}
